<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">

	<ui:define name="titre">
		Ajouter Employer
	</ui:define>


	<ui:define name="content">

		<h:form id="addemp">
<h:messages />
			<h:panelGrid columns="2">

				<h:outputLabel value="Name " />
				<h:inputText value="#{employerBean.employer.name}" 
					required="true" requiredMessage="Champ obligatoire"/>

				<h:outputLabel value="LastName " />
				<h:inputText value="#{employerBean.employer.lastname}">
					<f:validateLength minimum="5"></f:validateLength>
				</h:inputText>

				<h:outputLabel value="Email " />
				<h:inputText value="#{employerBean.employer.email}">
					<f:validateRegex pattern=".+\@.+\..+"></f:validateRegex>
				</h:inputText>


				<h:outputLabel value="Date Naissance " />
				<h:inputText value="#{employerBean.employer.dateNaissance}">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:inputText>

				<h:outputLabel value="Nationalité " />
				<h:selectOneMenu value="#{employerBean.employer.nationalite}">
					<f:selectItem itemLabel="Choisir une nationalité" itemValue=" " />
					<f:selectItems value="#{employerBean.nationalites}"></f:selectItems>
				</h:selectOneMenu>

				<h:commandButton action="#{employerBean.addEmp()}"
					value="Add Employer" />
				<h:outputText value="#{employerBean.success}" />

			</h:panelGrid>
		</h:form>
		
	<br/><br/><br/>
	<h:link outcome="/pages/welcome" value="Page d'acceuil"/>
	<br/>
	</ui:define>

</ui:composition>
