<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">

	<ui:define name="titre">
		Gérer Employés
	</ui:define>


	<ui:define name="content">
		<h:form id="ftable">
			<h:dataTable value="#{employerBean.employes}" var="emp" width="80%"
				style="align:center" border="1">

				<h:column>
					<f:facet name="header">
						<h:outputLabel value="Name" />
					</f:facet>
					<h:outputLabel value="#{emp.name}"></h:outputLabel>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputLabel value="Last name" />
					</f:facet>
					<h:outputLabel value="#{emp.lastname}"></h:outputLabel>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputLabel value="Nationalité" />
					</f:facet>
					<h:outputLabel value="#{emp.nationalite}"></h:outputLabel>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputLabel value="Update" />
					</f:facet>
					<h:commandLink action="#{employerBean.preUpdateEmpl(emp)}"
						value="Update" />
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputLabel value="Delete" />
					</f:facet>
					<h:commandLink action="#{employerBean.deleteEmpl(emp.idEmploye)}"
						value="Delete" />
				</h:column>
			</h:dataTable>
		</h:form>

		<h:form id="updateEmp">
			<h:panelGrid columns="3" id="pupdemp" rendered="#{employerBean.etat}">

				<h:outputLabel value="Name " for="nom"/>
				<h:inputText id="nom" value="#{employerBean.emp.name}" required="true"
					requiredMessage="Champ obligatoire" />
				<h:message for="nom"/>
				<h:outputLabel value="LastName " for="lnom" />
				<h:inputText id="lnom" value="#{employerBean.emp.lastname}">
					<f:validateLength minimum="5"></f:validateLength>
				</h:inputText>
<h:message for="lnom"/>
				<h:outputLabel value="Email " for="mail"/>
				<h:inputText id="mail" value="#{employerBean.emp.email}">
					<f:validateRegex pattern=".+\@.+\..+"></f:validateRegex>
				</h:inputText>
<h:message for="mail"/>
				<h:outputLabel value="Nationalité " for="nat"/>
				<h:selectOneMenu id="nat" value="#{employerBean.emp.nationalite}">
					<f:selectItem itemLabel="Choisir une nationalité" itemValue=" " />
					<f:selectItems value="#{employerBean.nationalites}"></f:selectItems>
				</h:selectOneMenu>
<h:message for="nat"/>
				<h:commandButton action="#{employerBean.updateEmp()}"
					value="Update Employer" />

			</h:panelGrid>
		</h:form>
		
	<br/><br/><br/>
	<h:link outcome="/pages/welcome" value="Page d'acceuil"/>
	<br/>
		
	</ui:define>

</ui:composition>
