<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      template="/template/template.xhtml">
			
	<ui:define name="titre">
		Authentification
	</ui:define>
	
	
	<ui:define name="content">
	
	<center>
	<br/><br/><br/><br/>
	Choisir une fonctionnalité
	<br/><br/>
	<h:link outcome="/pages/addEmployer" value="Ajouter Employé"/>
	<br/>
	<h:link outcome="/pages/gererEmployer" value="Gérer Employés"/>
	<br/><br/><br/><br/>
	<h:form id="logout">
		<h:commandButton action="#{loginBeaan.logOut()}" value="Deconnecter" />
	</h:form>
	
	</center>
	</ui:define>		
			
</ui:composition>
