<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      template="/template/template.xhtml">
			
	<ui:define name="titre">
		Authentification
	</ui:define>
	
	
	<ui:define name="content">
	<br></br><br></br><br></br><br></br><br></br>
	
	<h:form id="test">
	
	<h:outputLabel value="Name " />
	<h:inputText value="#{loginBeaan.name}" />
	
	<br></br><br></br>
	
	<h:outputLabel value="Last Name" />
	<h:inputText value="#{loginBeaan.lastname}" />
	
	<br></br><br></br>
	
	<h:commandButton id="btn" action="#{loginBeaan.login()}" value="Authentification" />
	<h:message for="btn" />
	</h:form>
	<br></br><br></br><br></br><br></br><br></br>

	
	</ui:define>		
			
</ui:composition>
